<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style link="assets/css/style.css"></style>
</head>
<body>
    {% block header %}
        {% include "modules/header/header.html" %}
    {% endblock %}
        
    {% block content %}
        <p>This is content page</p>
    {% endblock %}

    {% block footer %}
        {% include "modules/footer/footer.html" %}
    {% endblock %}
</body>
</html>